@font-face {
  font-family: 'Bitwise';
  src: url(./fonts/bitwise/bitwise.ttf) format('truetype');
}
@font-face {
  font-family: 'Roses are FF0000';
  src: url(./fonts/roses-are-ff0000/RosesareFF0000.ttf) format('truetype');
}

:root {
  --btn-height: 0.7rem;
}

html {
  font-size: 2.5vh;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #424242;
  color: gold;
  text-align: center;
  padding: 1.2rem;
}

h1,
h2,
h3 {
  font-family: 'Bitwise', 'Courier New', Courier, monospace;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

header h2 {
  margin-top: -1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* color: tomato; */
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

main {
  margin: 0 auto;
  /* background-color: #efebe9; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#console {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******  Controls  ******/

input.lcd {
  /* font-family: 'lcd phone', 'Bitwise', 'Courier New', Courier, monospace; */
  font-family: 'Roses are FF0000', 'Bitwise', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  text-align: center;
  height: 2rem;
  margin-top: -0.6rem;
  background-color: #4caf50;
  color: #424242;
  pointer-events: none;
}

fieldset#display {
  padding: 0.5rem 0.2rem;
}

.controls {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.controls fieldset {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.control-btn {
  height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #efebe9;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.control-btn.stretch {
  aspect-ratio: initial;
}

.control-btn.selected {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.control-btn:hover {
  border-color: gold;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

/******  Game Board  ******/

#board {
  border: 2.5rem outset #efebe9;
  border-radius: 2rem;
  height: 70vh;
  aspect-ratio: 3/4;
  background-color: #1976d2;
  display: grid;
  padding: 1.2rem;
  gap: 1.2rem;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  /* Disable double-tap zoom in mobile
  https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
  /* touch-action: manipulation; */
}

#board.num-gems-12 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#board.num-gems-8 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#board.num-gems-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/******  Game Board Buttons  ******/

.gem {
  width: 100%;
  height: 100%;
}

/******  General Button Styling  ******/

/* clip-path: polygon(0 0, 100% 0%, 100% 80%, 60% 100%, 0 100%); */

button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 0.2rem;
  border: 0.01rem solid #212121;
  box-shadow: 0 var(--btn-height) #212121;
  transform: translateY(calc(-1 * var(--btn-height)));
}

button:hover {
  border: 0.05rem solid #f5f5f5;
  /* box-shadow: 0 0.7rem #f5f5f5; */
  /* filter: brightness(2); */
}

button.selected,
button:active {
  /* border: 0.15rem solid #f5f5f5; */
  box-shadow: 0 0.2rem #f5f5f5;
  transform: translateY(-0.2rem);
}

.gem.disabled,
.gem.disabled:hover,
.gem.disabled:active {
  cursor: not-allowed;
  border: 0.01rem solid #212121;
  box-shadow: 0 var(--btn-height) #212121;
  transform: translateY(calc(-1 * var(--btn-height)));
}

.control-btn.disabled,
.control-btn.disabled:hover,
.control-btn.disabled:active {
  cursor: not-allowed;
  color: #9e9e9e;
  border: 0.01rem solid #212121;
  box-shadow: 0 var(--btn-height) #212121;
  transform: translateY(calc(-1 * var(--btn-height)));
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.control-btn.disabled.selected {
  box-shadow: 0 0.2rem #212121;
  transform: translateY(-0.2rem);
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

/* Used by computer to display the sequence to user */
.gem.bright,
.gem.bright:hover,
.gem.bright:active {
  border: 0.3rem solid #f5f5f5;
  box-shadow: 0 0.7rem #f5f5f5;
}

/******  Modal  ******/

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* transition: visibility 1.5s ease; */
}

#modal-content {
  background-color: #424242;
  padding: 2rem;
}

.modal.visible {
  visibility: visible;
}

footer {
  margin-top: 1.5rem;
  text-align: center;
}
